.logout {
    position: absolute;
    top: 35px;
    right: 150px;
    width: 150px;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    z-index: 9999;
}
.logout li {
    list-style: none;
    text-align: center;
    padding: 3px 30px 3px 0;
}

.main-img {
    margin-top: 35px;
    position: relative;
}
.main-img img {
    width: 100%;
}

.d-wrap {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-40%, -50%);
    text-align: center;
}
.d-wrap h1 img {
    width: 200px;
    margin-bottom: 10px;
}